.regcont {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    // height: 150px;
    padding: 1%;

    .margO {
        margin-left: 20%;
    }

    input {
        margin-bottom: 3%;
        margin-top: 2%;
        border-left: none;
        border-top: none;
        border-right: none;
        outline: none;
        height: 30px;
        cursor: pointer;
        padding-bottom: 0;

        &::placeholder {
            font-size: 15px;
        }
    }

    button {
        background-color: rgb(172, 51, 172);
        border-color: rgb(149, 48, 149);
        color: white;
        margin-top: 5%;
        padding: 2% 4%;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: rgb(135, 35, 135);

        }
    }
}

.cnox {



    .mayrdiv {

        margin: 0 auto;
        display: flex;
        width: 290px;
        justify-content: space-evenly;

        margin-bottom: 5px;
        padding:.5% .5%;

        button {
            cursor: pointer;
            margin: 0 auto;
            transition: .2s;
            height: 40px;
            background-color: rgb(245, 0, 49) ;
            font-size: 20px;
            color: white;
            border: 2px solid rgb(156, 7, 37);
            &:hover {
                color: rgb(245, 0, 49);
                background-color: rgb(255, 255, 255) ;
            }
        }
    }
}